


<%= form_with model: @task do |f| %>
<p> Please enter your tasks here to save them to the database:</p>

<%= f.label :action %>
<%= f.text_field :action %><br>

<%= f.label :description %>
<%= f.text_field :description %><br>

<%= f.label :completion_date %>
<%= f.text_field :completion_date %><br>


<%= f.submit "Save Task", class: "task-button" %>

<% end %>
